themeName = 'bubble'
activeColor = #fff
borderColor = #777
backgroundColor = #444
inactiveColor = #ccc
shadowColor = #ddd
textColor = #fff

@import './core'
@import './base'
@import './bubble/*'

.ql-container.ql-bubble:not(.ql-disabled)
  a
    position: relative
    white-space: nowrap
